<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
      <h1>About Micro</h1>
      <p>Micro is a professional grade Ruby on Rails microblogging platform. This web application was built using project management software Pivotal Tracker, and integrates RSpec testing, database modeling, paperclip, action mailer, handrolled authentication and Bootstrap. The app is hosted on Heroku.</p>
</body>
</html>