<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
      <h1>About Micro</h1>
      <p>Hosted on Heroku, Micro is a professional-grade Ruby on Rails microblog web application.</p>
      <p>Micro utilizes lightweight test-driven design, database modeling, handrolled user authentication, Sass, styling in Bootstrap, action mailer and remote version control on Github. The project is agile managed using Pivotal Tracker.</p>
</body>
</html>