<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <h1>Help has arrived.</h1>

    <!--<img id = 'logo' src = 'http://calligraphyletters.org/letter-downloads/gourdiehandwriting/calligraphy-letter-m.jpg' alt = 'logo'>-->
</body>
</html>