<!--provide and yield are Ruby functions-->
<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
  <head>
    <title>help</title>
      </head>
       <body>
        <div class="center jumbotron">
          <h1>Welcome to Micro</h1>
          <h2>What is Micro?</h2>
          <p>Micro is a microblogging platform harnessing the power of the Watson API</p>
          <h2>Specs</h2>
          <p>Hosted on Heroku, this is a professional-grade Ruby on Rails microblog web application using the IBM Watson API. Micro utilizes lightweight test-driven design, database modeling, handrolled user authentication, Sass, styling in Bootstrap and action mailer. The project is agile managed using Pivotal Tracker.</p>

          <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
        </div>

       </body>
</html>